<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>720</session-timeout> 
    </session-config>
    <servlet>
        <servlet-name>generate</servlet-name>
        <servlet-class>api.CreateTraffic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generate</servlet-name>
        <url-pattern>/api/generate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>api.GetStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/api/status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatepool</servlet-name>
        <servlet-class>api.UpdateThreadPool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatepool</servlet-name>
        <url-pattern>/api/updatepool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>api.UploadCreds</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/api/uploadcreds</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addtenant</servlet-name>
        <servlet-class>api.CreateTenant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addtenant</servlet-name>
        <url-pattern>/api/addtenant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getinfo</servlet-name>
        <servlet-class>api.GetTenInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getinfo</servlet-name>
        <url-pattern>/api/getinfo</url-pattern>
    </servlet-mapping>
</web-app>