<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>720</session-timeout> 
    </session-config>
    <servlet>
        <servlet-name>generate</servlet-name>
        <servlet-class>api.TrafficServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>generate</servlet-name>
        <url-pattern>/api/generate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>api.Status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/api/status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updatepool</servlet-name>
        <servlet-class>api.ThreadConf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatepool</servlet-name>
        <url-pattern>/api/updatepool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cred</servlet-name>
        <servlet-class>api.CredentialServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cred</servlet-name>
        <url-pattern>/api/cred</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tenant</servlet-name>
        <servlet-class>api.TenantServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tenant</servlet-name>
        <url-pattern>/api/tenant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>schedule</servlet-name>
        <servlet-class>api.ScheduleServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>schedule</servlet-name>
        <url-pattern>/api/schedule</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>samplefile</servlet-name>
        <servlet-class>api.SampleFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>samplefile</servlet-name>
        <url-pattern>/api/samplefile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mailtraces</servlet-name>
        <servlet-class>api.MailTraceServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailtraces</servlet-name>
        <url-pattern>/api/mailtrace</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mailtracestatus</servlet-name>
        <servlet-class>api.MailTraceStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mailtracestatus</servlet-name>
        <url-pattern>/api/mailtrace/status</url-pattern>
    </servlet-mapping>
</web-app>